img {
    height: 200px;
    width: 250px;
}

body {
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

.edit-btn{
    color: beige;
    background-color: black;
}

